
.author-detail{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    max-height: 65px;
    align-items: center;
}
.author-image{
    width: 60px;
    max-height: 60px;
}
.author-desc{
    flex: 1 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    line-height: 1 !important;
}
.image{
    max-width: 30%;
}
.author-desc{
    display: flex;
    flex-flow: column nowrap;
    padding: 0 0 0 15px;
    align-items: flex-start;
}
.author-desc>p{
    margin: 0;
}
.pname{
    font-size: 14px;
    margin-bottom: 5px !important;
}
.pother {
    font-size: 13px;
    color: #777777;
    margin-bottom: 2px !important;
}

/* .banner-article{
    max-height: 400px;
    width: 100%;
} */

.side-listh3{
    margin: 0 0 10px 0;
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2 !important;
    text-overflow: ellipsis !important;
    cursor: pointer;
    max-height: 45px;
    overflow: hidden;
}
.editor-content>p{
    margin: 0;
}
