
.height18{
    font-size: 18px !important;
}

.row-reverse{
    flex-flow: row-reverse;
}


.mearger{
    width: 100%;
    display: flex;
    padding: 0 0 3px 0;
}

.height100{
    height: 100px;
}

.mearger-0{
    width: 20%;
    min-width: 20%;
    max-width: 20%;
    padding:0 15px 0 0;
}

.mearger-1{
    flex: 1;
    overflow: hidden;
    padding: 5px;
}

.player{
    margin: 3px 0;
    font-size:14px;
}

.article-logo{
    width: 100%;
    max-height: 100%;
}