
.height18{
    font-size: 18px !important;
}

.row-reverse{
    flex-flow: row-reverse;
}


.mearger{
    width: 100%;
    display: flex;
    padding: 0 0 3px 0;
}

.mearger-border {
    margin:0 0 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14) 
}

.height100{
    height: 100px;
}

.mearger-0{
    width: 20%;
    min-width: 20%;
    max-width: 20%;
    padding:0 15px 0 0;
}

.mearger-1{
    flex: 1;
    overflow: hidden;
    padding: 0 5px;
}

.player{
    margin: 3px 0;
    font-size:14px;
}

.article-logo{
    width: 100%;
    max-height: 100%;
}

.content-header{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.54);
    margin-bottom: 15px;
    overflow: hidden;
}

.content-header>p{
    position: relative;
    float: left;
    font-size: 20px;
    font-weight: bold;
    color: #42445F;
    margin: 15px 0;
}

.articlewidth65{
    max-width: 65%;
    flex: 1 1;
}

.articleSubtitle {
    font-size: 15px;
    margin-bottom: 20px;
}

.colorBlack {
    color: #000000;
}

.colorGrey{
    color: #777777 !important;
}
.no-border{
    border: none !important;
}
.no-margin{
    margin: 0;
}
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 1000;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}
.flex{
    display: flex;
}
.flex-row{
    flex-flow: row nowrap;
}
.flex-column{
    flex-flow: column nowrap;
}

.tab-header {
    justify-content: unset !important;
    width: 100% !important;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.54)
}

.tab-header>li{
    padding: 0px 10px;
}
.tab-header>li:hover{
    border-bottom: 1px solid black;
}
.tab-title{
    font-size: 14px;
}
.tab-title>a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
}
.tab-title>a:hover{
    color: black;
}

.active-tab>a{
    color:black;
}

.overlay-child{
    justify-content: space-between;
    margin: auto;
    padding: 100px 0;
    max-width: 1040px;
    min-width: 1040px;
    position: relative;
}
/* animate properties need to do after build*/
.overlay-child--animate{
    transform-origin: bottom center;
    animation: fade-in-pulse-08 .3s forwards cubic-bezier(.8,.02,.45,.91)
}

.tabs-content div.tab-panel {
    padding: 20px 0;
    display: none;
}

.tabs-content div.tab-panel.active {
    display: flex;
}

.no-width{
    max-width: 100%;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
}