.topDiv {
    position: fixed;
    display: block;
    z-index: 500;
    width: 100%;
    font-size: 16px;
    background: #fff;
    color: rgba(0,0,0,.54);
    font-family: sans-serif-font,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
    padding-bottom: 3vh;
}
.flex{
    display: flex;
    flex-direction: row;
}
.title{
    font-family: sans-serif-font;
    font-weight: 900;
    color: black;
    font-size: 35px;
}
.positionRelative{
    position: relative;    
}
.maxWidth{
    max-width: 1000px!important;
}
.height65{
    height: 65px!important;
}
.paddingHorizontal{
    padding-left: 20px!important;
    padding-right: 20px!important;
}
.marginAuto{
    margin-left: auto!important;
    margin-right: auto!important;
}
.justifyContent{
    -webkit-box-pack: justify!important;
    justify-content: space-between!important;
}
.flexCenter{
    display: flex!important;
    align-items: center!important;
}
.height25{
    height: 25px!important
}
.zIndex500{
    z-index: 500;
}
.flexTop {
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-align: start!important;
    -webkit-align-items: flex-start!important;
    -ms-flex-align: start!important;
    align-items: flex-start!important;
}
.navText {
    font-family: sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif!important;
    letter-spacing: -.02em!important;
    font-weight: 400!important;
    font-style: normal!important;
    letter-spacing: 0!important;
    font-size: 15px!important;
    line-height: 20px!important;
    -webkit-transform: translateY(1.8px);
    transform: translateY(1.8px);
    letter-spacing: .05em!important;
    text-transform: uppercase;
}
a, button, input {
    -webkit-tap-highlight-color: transparent;
    color: rgba(0,0,0,.54);
}
a:link {
    color: rgba(0,0,0,.54);
    text-decoration: none;
}
a {
    background-color: transparent;
}
a:hover{
    color: black;
    font-weight: 400;
}
li{
    list-style: none;
    padding-right: 60px;
}