.setting-container{
    padding: 0 25%;
}
.input{    
    letter-spacing: .1rem;    
    border: none;
    outline: none;
}
.input-name{
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
    flex: 1 1;
}
.width-100{
    width: 100%;
}