.topDiv {
    position: absolute;
    display: block;
    z-index: 500;
    width: 100%;
    font-size: 16px;
    background: #fff;
    color: rgba(0,0,0,.54);
    font-family: sans-serif-font,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
}

.subDiv{
    max-width: 1000px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-left: auto !important;    /* centering the content to the div */
    margin-right: auto !important;
    display: flex; 
    justify-content: space-between !important; /* adding equal spacing between */
    align-items: center;
} 

.brandDiv{
    height: 65px !important;
}

.positionRelative{
    position: relative;
}

.title{
    font-family: sans-serif-font;
    font-weight: 900;
    color: #373737;
    font-size: 32px;
}

.brandLogo {
    width: 60px;
    height: 50px;
    margin: 0 auto;
}

.navDiv{
    max-width: 1000px !important;

}

.flexTop {
    display: flex!important;
    justify-content: space-between;
    align-content: center;
    width: 1000px !important;
}

.navText {
    font-family: sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif !important;
    letter-spacing: -.02em !important;
    font-weight: 400 !important;
    font-style: normal !important;
    letter-spacing: 0 !important;
    font-size: 14px !important;
    line-height: 18px !important;
    text-transform: uppercase;
}

.navText >a, .popover-text>a{
    -webkit-tap-highlight-color: transparent;
    color: rgba(0,0,0,.54);
}

.navText>a:link, .popover-text>a:link {
    color: rgba(0,0,0,.54);
    text-decoration: none;
}

.navText>a, .popover-text>a{
    background-color: transparent;
}

.navText>a:hover, .popover-text>a:hover{
    color: black;
    font-weight: 400;
}

li{
    list-style: none;
}

.popover{
    visibility: hidden;
    width: 200px;
    max-width: 280px;
    background-color: #fff;
    color: #fff;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 50%;
    margin-left: -100px;
    box-shadow: 0 1px 2px rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.35)
}
.popover::after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.popover>ul{
    list-style: none;
    margin: 0;
    padding: 10px 20px
}
.popover>ul>li{
    padding: 10px 10px;
}
.popover-text{
    letter-spacing: .02em;
    line-height: 18px;
    font-size: 14px;
}
.popover-control{
    position: relative;
}